.row{   

    background-color:#ADD8E6;
    color:white;
    font-size:20px;
    display: flex;
}
.headshot{
    width:20%;
   
}
.mid{
    background-color:white;
    color:#ADD8E6;
    align-items:center;
    font-size:50px;
    margin-top:5px;
    margin-bottom:5px;
    font-family: 'Inconsolata', monospace;
}
.aboutme{
    border:1px solid black; 
    
}
li{
    display:inline;
}

#aboutMe{
    margin-right: 50px;
}
#myWork{
    margin-left: 50px;
}
